<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>The Binding of GAMJEON</title>

<link rel="stylesheet" type="text/css" href="css/common.css">

</head>
<body>
	
	<img id="item" width="200" height="20" src="img/item/item.png">
	<img id="info_inventory" width="105" height="70" src="img/item/inventory.png">
	<img id="chest" width="240" height="60" src="img/sprite/chest.png">
	<img id="door" width="240" height="480" src="img/sprite/door.png">
	<img id="room" width="540" height="420" src="img/sprite/room.png">
	<img id="floor" width="420" height="300" src="img/sprite/control_description.png">
	<img id="player" width="400" height="160" src="img/character/gamjeon.png">
	<img id="emotion" width="200" height="50" src="img/character/emotion/emotion.png">
	<img id="attack" width="20" height="20" src="img/character/weapon/default.png">
	<img id="bomb" width="80" height="200" src="img/sprite/bomb.png">
	<img id="paused" width="400" height="350" src="img/bg/paused.png">
	<img id="spotlight" width="200" height="300" src="img/sprite/spotlight.png">
	
	<canvas id="info" width="540" height="80"></canvas>
	<canvas id="canvas" width="540" height="420"></canvas>
	
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/item.js"></script>
	<script type="text/javascript" src="js/monster.js"></script>
	<script type="text/javascript" src="js/boss.js"></script>
	<script type="text/javascript" src="js/sound.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var canvas = document.getElementById("canvas");
		var infoCanvas = document.getElementById("info");
		var ctx = canvas.getContext("2d");
		var ctx2 = infoCanvas.getContext("2d");
		const cw = canvas.width;
		const ch = canvas.height;

		var itemImg = document.getElementById("item");
		var roomImg = document.getElementById("room");
		var chestImg = document.getElementById("chest");
		var doorImg = document.getElementById("door");
		var doorImgInfo = [null, null, null, null];
		var obstacleImg = [];
		var floorImg = document.getElementById("floor");
		var playerImg = document.getElementById("player");
		var emotionImg = document.getElementById("emotion");
		var attackImg = document.getElementById("attack");
		var bombImg = document.getElementById("bomb");
		var pausedImg = document.getElementById("paused");
		
		var roomInfo = [];
		var roomNo = 0;
		var playerInfo;
		var bombInfo = null;
		var itemGetObj = null;
		var monster = [];
		var bossInfo = null;
		var goNextStageDoor = null;
		
		var drawInterval;
		
		var wall = [60, 60, 60, 60]; // top, bottom, left, right
		var attacks = [];
		
		var pressed = [false, false, false, false]; // up, down, left, right
		
		var directionCode = 4;
		var attackDirection = 1;
		
		var controlFlag = true;
		var attackFlag = true;
		var gameOverFlag = false;
		var goNextStageFlag = false;
		
		document.addEventListener("keydown", keyDown, false);
		document.addEventListener("keyup", keyUp, false);
		
		window.onload = function() {
			init();
		};
		
		function init() {
			[# th:each="infoInit : ${roomInfo}"]
				var roomInfoInit = [[${infoInit}]];
				roomInfo.push(roomInfoInit);	
			[/]
			
			playerInfo = {
				x: [[${pos[0]}]],
				y: [[${pos[1]}]],
				width: 60,
				height: 60,
				moveBox: {
					x: 0,
					y: 0,
					width: 40,
					height: 40
				},
				hitBox: {
					x: 0,
					y: 0,
					width: 40,
					height: 50
				},
				invincibleFlag: false,
				coin: [[${playerInfo.coin}]],
				bomb: [[${playerInfo.bomb}]],
				key: [[${playerInfo.key}]],
				weapon: [[${playerInfo.weapon}]],
				item: [[${playerInfo.item}]],
				status: [[${playerInfo.status}]],
				setBoxes: function() {
					this.moveBox.x = this.x + 20;
					this.moveBox.y = this.y + 40;
					this.hitBox.x = this.x + 20;
					this.hitBox.y = this.y + 15;
				},
				damaged: function(dmg) {
					if(!this.invincibleFlag && dmg > 0) {
						if(this.status.elecLife > 0) {
							this.status.elecLife -= dmg;
						} else {
							this.status.life -= dmg;
						}
						this.invincibleFlag = true;
						
						if(this.status.life <= 0) {
							gameOver();
						} else {
							setTimeout(function() {
								playerInfo.invincibleFlag = false;
							}, 2000);
						}
					}
				}
			};
			
			playerInfo.setBoxes();
			doorSetting();
			obstacleSetting();
			setInterval(drawInfo, 20);
			drawInterval = setInterval(draw, 20);
		}
		
		/*]]>*/
	</script>

</body>
</html>