<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>The Binding of GAMJEON</title>

<link rel="stylesheet" type="text/css" href="css/common.css">

</head>
<body>

	<img id="room" width="500" height="400" src="img/bg/room/room.png">
	<img id="floor" width="380" height="280" src="img/bg/room/control_description.png">
	<img id="phead" width="80" height="80" src="img/character/gamjeon_head_front.png">
	<img id="pbody" width="80" height="80" src="img/character/gamjeon_body_front.png">
	<img id="attack" width="20" height="20" src="img/character/weapon/default.png">
	
	<canvas id="info" width="500" height="80"></canvas>
	<canvas id="canvas" width="500" height="400"></canvas>
	
	<script th:inline="javascript">
		var canvas = document.getElementById("canvas");
		var ctx = canvas.getContext("2d");

		var room = document.getElementById("room");
		var door = [null, null, null, null];
		var floor = document.getElementById("floor");
		var phead = document.getElementById("phead");
		var pbody = document.getElementById("pbody");
		var attack = document.getElementById("attack");
		
		var wall = [10, 60, 40, 40]; // top, bottom, left, right
		var point = /*[[${pos}]]*/;
		var playerX = point[0];
		var playerY = point[1];
		var attackX = playerX + 30;
		var attackY = playerY + 30;
		var step = 5;
		
		var pressed = [false, false, false, false]; // up, down, left, right
		
		var directionCode = 4;
		var attackDirection = 2;
		
		var movableFlag = true;
		var attackFlag = true;
		var startingPointFlag = true;
		var doors = [2, 2, 2, 2]; // top, bottom, left, right
		
		var roomNo = 0;
		
		document.addEventListener("keydown", keyDown, false);
		document.addEventListener("keyup", keyUp, false);
		
		window.onload = function() {
			roomInit();
			setInterval(draw, 20);
		};
		
		function roomInit() {
			for(var i = 0; i < doors.length; i++) {
				var doorImg = document.createElement("img");
				doorImg.setAttribute("width", "60");
				doorImg.setAttribute("height", "60");
				
				if(doors[i] == 1) {
					doorImg.setAttribute("src", "img/bg/room/door_closed.png");
					door[i] = doorImg;
				} else if(doors[i] == 2) {
					doorImg.setAttribute("src", "img/bg/room/door_opened.png");
					door[i] = doorImg;
				}
			}
		}
		
		function keyDown(e) {
			var key = e.keyCode;
			
			if(!movableFlag) {
				return;
			}
			
			if(key==87) {
				pressed[0] = true;
			} else if(key==83) {
				pressed[1] = true;
			}
			
			if(key==65) {
				pressed[2] = true;
			} else if(key==68) {
				pressed[3] = true;
			}
			
			if(key==38) {
				attackSetting(1);
			}
			if(key==40) {
				attackSetting(2);
			}
			if(key==37) {
				attackSetting(3);
			}
			if(key==39) {
				attackSetting(4);
			}
		}
		
		function attackSetting(dir) {
			if(attackFlag) {
				attackFlag = false;
				attackX = playerX + 30;
				attackY = playerY + 30;
				attackDirection = dir;
			}
		}

		function keyUp(e) {
			var key = e.keyCode;
			
			if(key==87) {
				pressed[0] = false;
			} else if(key==83) {
				pressed[1] = false;
			}
			
			if(key==65) {
				pressed[2] = false;
			} else if(key==68) {
				pressed[3] = false;
			}
		}
		
		function directionCheck() {
			if(pressed[0]) {
				directionCode = 0;
				if(pressed[3]) {
					directionCode = 1;
				} else if(pressed[2]) {
					directionCode = 7;
				}
			} else if(pressed[1]) {
				directionCode = 4;
				if(pressed[2]) {
					directionCode = 5;
				} else if(pressed[3]) {
					directionCode = 3;
				}
			} else if(pressed[2]) {
				directionCode = 6;
				if(pressed[0]) {
					directionCode = 7;
				} else if(pressed[1]) {
					directionCode = 5;
				}
			} else if(pressed[3]) {
				directionCode = 2;
				if(pressed[0]) {
					directionCode = 1;
				} else if(pressed[1]) {
					directionCode = 3;
				}
			}
		}
	
		function setPlayerBody() {
			var src;
			switch(directionCode) {
			case 0:
				src = "img/character/gamjeon_body_back.png";
				break;
			case 1:
				src = "img/character/gamjeon_body_back.png";
				break;
			case 2:
				src = "img/character/gamjeon_body_right.png";
				break;
			case 3:
				src = "img/character/gamjeon_body_right.png";
				break;
			case 4:
				src = "img/character/gamjeon_body_front.png";
				break;
			case 5:
				src = "img/character/gamjeon_body_front.png";
				break;
			case 6:
				src = "img/character/gamjeon_body_left.png";
				break;
			case 7:
				src = "img/character/gamjeon_body_left.png";
				break;
			default:
				src	= "img/character/gamjeon_lying.png"
			}
			return src;
		}
		
		function setPlayerHead() {
			var src;
			switch(attackDirection) {
			case 1:
				src = "img/character/gamjeon_head_back.png";
				break;
			case 2:
				src = "img/character/gamjeon_head_front.png";
				break;
			case 3:
				src = "img/character/gamjeon_head_left.png";
				break;
			case 4:
				src = "img/character/gamjeon_head_right.png";
				break;
			}
			return src;
		}
		
		function drawAttack() {
			var mx = 0;
			var my = 0;
			var md = 10;
			switch(attackDirection) {
			case 1:
				my = -md;
				break;
			case 2:
				my = md;
				break;
			case 3:
				mx = -md;
				break;
			case 4:
				mx = md;
				break;
			}
			attackX += mx;
			attackY += my;
			
			ctx.drawImage(attack, attackX, attackY);
			
			if(attackX < -20 || attackX > canvas.width) {
				attackFlag = true;
			} else if(attackY < -20 || attackY > canvas.height) {
				attackFlag = true;
			}
		}
		
		function playerMove() {
			if(pressed[0] && (playerY > wall[0])) {
				playerY -= step;
			}
			if(pressed[1] && (playerY < canvas.height-(wall[1]+pbody.height))) {
				playerY += step;
			}
			if(pressed[2] && (playerX > wall[2])) {
				playerX -= step;
			}
			if(pressed[3] && (playerX < canvas.width-(wall[3]+pbody.width))) {
				playerX += step;
			}
		}
		
		function wallCheck() {
			if(playerX >= 200 && playerX <= 220 && playerY < (canvas.height/2-pbody.height/2) && doors[0] == 2) {
				wall[0] = -10;
				wall[1] = 60;
			} else if(playerX >= 200 && playerX <= 220 && doors[1] == 2) {
				wall[0] = 10;
				wall[1] = 40;
			} else {
				wall[0] = 10;
				wall[1] = 60;
			}
			if(playerY >= 150 && playerY <= 170 && playerX < (canvas.width/2-pbody.width/2) && doors[2] == 2) {
				wall[2] = 20;
				wall[3] = 40;
			} else if(playerY >= 150 && playerY <= 170 && doors[3] == 2) {
				wall[2] = 40;
				wall[3] = 20;
			} else {
				wall[2] = 40;
				wall[3] = 40;
			}
		}
		
		function drawImage() {
			pbody.src = setPlayerBody();
			phead.src = setPlayerHead();

			ctx.drawImage(room, 0, 0);
			drawDoor();
			if(startingPointFlag) {
				ctx.drawImage(floor, 60, 60);
			} else {
				ctx.fillStyle = 'grey';
				ctx.fillRect(60, 60, floor.width, floor.height);
			}
			ctx.drawImage(pbody, playerX, playerY);
			ctx.drawImage(phead, playerX, playerY);
		}
		
		function drawDoor() {
			for(var i = 0; i < door.length; i++) {
				if(door[i]==null) {
					continue;
				}
				
				var dx;
				var dy;
				var deg;
				
				switch(i) {
				case 0:
					dx = 220; dy = 0;
					deg = 0;
					break;
				case 1:
					dx = 220; dy = canvas.height - door[i].height;
					deg = 180;
					break;
				case 2:
					dx = 0; dy = 170;
					deg = 270;
					break;
				case 3:
					dx = canvas.width - door[i].width; dy = 170;
					deg = 90;
					break;
				}
				ctx.save();
				ctx.translate(dx+0.5*door[i].width, dy+0.5*door[i].height);
				ctx.rotate(deg * Math.PI / 180);
				ctx.translate(-(dx+0.5*door[i].width), -(dy+0.5*door[i].height));
				ctx.drawImage(door[i], dx, dy);
				ctx.restore();
			}
		}
		
		function doorCheck() {
			if(playerY == -10) {
				console.log("door top");
			} else if(playerY == (canvas.height-(pbody.height+40))) {
				console.log("door bottom");
			} else if(playerX == 20) {
				console.log("door left");
			} else if(playerX == (canvas.width-(pbody.width+20))) {
				console.log("door right");
			}
		}
		
		function draw() {
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			
			drawImage();
			
			directionCheck();
			
			if(!attackFlag) {
				drawAttack();
			}
			
			wallCheck();
			
			playerMove();
			
			doorCheck();
		}
	</script>

</body>
</html>