<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>The Binding of GAMJEON</title>

<link rel="stylesheet" type="text/css" href="css/common.css">

</head>
<body>

	<img id="room" width="500" height="400" src="img/bg/room/room.png">
	<img id="floor" width="380" height="280" src="img/bg/room/control_description.png">
	<img id="phead" width="80" height="80" src="img/character/gamjeon_head_front.png">
	<img id="pbody" width="80" height="80" src="img/character/gamjeon_body_front.png">
	<img id="attack" width="20" height="20" src="img/character/weapon/default.png">
	
	<canvas id="info" width="500" height="80"></canvas>
	<canvas id="canvas" width="500" height="400"></canvas>
	
	<script th:inline="javascript">
		var canvas = document.getElementById("canvas");
		var ctx = canvas.getContext("2d");

		var room = document.getElementById("room");
		var floor = document.getElementById("floor");
		var phead = document.getElementById("phead");
		var pbody = document.getElementById("pbody");
		var attack = document.getElementById("attack");
		
		var wall = [10, 60, 40, 40]; // top, bottom, left, right
		var point = /*[[${pos}]]*/;
		var playerX = point[0];
		var playerY = point[1];
		var attackX = playerX + 30;
		var attackY = playerY + 30;
		var step = 5;
		
		var pressed = [false, false, false, false]; // up, down, left, right
		
		var directionCode = 4;
		var attackDirection = 2;
		
		var attackFlag = true;
		
		var roomNo = 0;
		
		document.addEventListener("keydown", keyDown, false);
		document.addEventListener("keyup", keyUp, false);
		
		function keyDown(e) {
			var key = e.keyCode;
			
			if(key==87) {
				pressed[0] = true;
			} else if(key==83) {
				pressed[1] = true;
			}
			
			if(key==65) {
				pressed[2] = true;
			} else if(key==68) {
				pressed[3] = true;
			}
			
			if(key==38) {
				attackSetting(1);
			}
			if(key==40) {
				attackSetting(2);
			}
			if(key==37) {
				attackSetting(3);
			}
			if(key==39) {
				attackSetting(4);
			}
		}
		
		function attackSetting(dir) {
			if(attackFlag) {
				attackFlag = false;
				attackX = playerX + 30;
				attackY = playerY + 30;
				attackDirection = dir;
			}
		}

		function keyUp(e) {
			var key = e.keyCode;
			
			if(key==87) {
				pressed[0] = false;
			} else if(key==83) {
				pressed[1] = false;
			}
			
			if(key==65) {
				pressed[2] = false;
			} else if(key==68) {
				pressed[3] = false;
			}
		}
		
		function directionCheck() {
			if(pressed[0]) {
				directionCode = 0;
				if(pressed[3]) {
					directionCode = 1;
				} else if(pressed[2]) {
					directionCode = 7;
				}
			} else if(pressed[1]) {
				directionCode = 4;
				if(pressed[2]) {
					directionCode = 5;
				} else if(pressed[3]) {
					directionCode = 3;
				}
			} else if(pressed[2]) {
				directionCode = 6;
				if(pressed[0]) {
					directionCode = 7;
				} else if(pressed[1]) {
					directionCode = 5;
				}
			} else if(pressed[3]) {
				directionCode = 2;
				if(pressed[0]) {
					directionCode = 1;
				} else if(pressed[1]) {
					directionCode = 3;
				}
			}
		}
	
		function setPlayerBody() {
			var src;
			switch(directionCode) {
			case 0:
				src = "img/character/gamjeon_body_back.png";
				break;
			case 1:
				src = "img/character/gamjeon_body_back.png";
				break;
			case 2:
				src = "img/character/gamjeon_body_right.png";
				break;
			case 3:
				src = "img/character/gamjeon_body_right.png";
				break;
			case 4:
				src = "img/character/gamjeon_body_front.png";
				break;
			case 5:
				src = "img/character/gamjeon_body_front.png";
				break;
			case 6:
				src = "img/character/gamjeon_body_left.png";
				break;
			case 7:
				src = "img/character/gamjeon_body_left.png";
				break;
			default:
				src	= "img/character/gamjeon_lying.png"
			}
			return src;
		}
		
		function setPlayerHead() {
			var src;
			switch(attackDirection) {
			case 1:
				src = "img/character/gamjeon_head_back.png";
				break;
			case 2:
				src = "img/character/gamjeon_head_front.png";
				break;
			case 3:
				src = "img/character/gamjeon_head_left.png";
				break;
			case 4:
				src = "img/character/gamjeon_head_right.png";
				break;
			}
			return src;
		}
		
		function drawAttack() {
			var mx = 0;
			var my = 0;
			var md = 10;
			switch(attackDirection) {
			case 1:
				my = -md;
				break;
			case 2:
				my = md;
				break;
			case 3:
				mx = -md;
				break;
			case 4:
				mx = md;
				break;
			}
			attackX += mx;
			attackY += my;
			
			ctx.drawImage(attack, attackX, attackY);
			
			if(attackX < -20 || attackX > canvas.width) {
				attackFlag = true;
			} else if(attackY < -20 || attackY > canvas.height) {
				attackFlag = true;
			}
		}
		
		function playerMove() {
			if(pressed[0] && (playerY > wall[0])) {
				playerY -= step;
			}
			if(pressed[1] && (playerY < canvas.height-(wall[1]+pbody.height))) {
				playerY += step;
			}
			if(pressed[2] && (playerX > wall[2])) {
				playerX -= step;
			}
			if(pressed[3] && (playerX < canvas.width-(wall[3]+pbody.width))) {
				playerX += step;
			}
		}
		
		function drawImage() {
			pbody.src = setPlayerBody();
			phead.src = setPlayerHead();

			ctx.drawImage(room, 0, 0);
			ctx.drawImage(floor, 60, 60);
			ctx.drawImage(pbody, playerX, playerY);
			ctx.drawImage(phead, playerX, playerY);
		}
		
		function draw() {
			ctx.clearRect(0, 0, canvas.width, canvas.height);
			
			drawImage();
			
			directionCheck();
			
			if(!attackFlag) {
				drawAttack();
			}
			
			playerMove();
		}
		
		setInterval(draw, 20);
	</script>

</body>
</html>