<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>The Binding of GAMJEON</title>

<link rel="stylesheet" type="text/css" href="css/common.css">

</head>
<body>
	
	<img id="bg" width="540" height="420" src="img/bg/title.png">
	<img id="skip" width="140" height="50" src="img/bg/skip.png">
	<img id="doorLeft" width="49" height="88" src="img/sprite/subway_door_left.png">
	<img id="doorRight" width="49" height="88" src="img/sprite/subway_door_right.png">
	<img id="tunnelLight" width="75" height="15" src="img/sprite/tunnel_light.png">
	<img id="phead" width="80" height="80" src="img/character/gamjeon_head_front.png">
	<img id="pbody" width="80" height="80" src="img/character/gamjeon_body_front.png">
	<img id="zzz" width="50" height="50" src="img/character/emotion/zzz.png">
	<img id="confused" width="50" height="50" src="img/character/emotion/confused.png">
	<img id="surprised" width="50" height="50" src="img/character/emotion/surprised.png">
	
	<canvas id="canvas" width="540" height="420"></canvas>
	
	<script type="text/javascript" src="js/sound.js"></script>
	<script type="text/javascript" src="js/title.js"></script>

</body>
</html>